**/.DS_Store

.vscode/
.idea/

**/*.pyc
**/__pycache__
.pytest_cache/
.mypy_cache

**/~$*.xlsx
**/~$*.docx
**/~$*.pptx

.env
tmv/temp/*
temp_uploads/
.coverage
test_coverage/
node_modules/
celerybeat-schedule*
docs/_build/

tmv/static/dash/favicon.ico
