{% extends 'admin/master.html' %}

{% block body %}
<h1>Team Metrics Visualizer Admin</h1>
<div class="alert alert-info">
    <h4 class="alert-heading"><span class="glyphicon glyphicon-info-sign"></span> About this Admin site</h4>
<p>There are three main sections:</p>
<ul>
    <li><strong>Team data</strong>: Data which changes regularly, like sprint progress, team health check results and overtime.</li>
    <li><strong>Reference data</strong>: Data which does not change often, like team health check topics, teams and users.</li>
    <li><strong>Configuration</strong>: Configuration of connection to external systems and TMV itself.</li>
</ul>
</div>
{% endblock %}
